:root {
    /* COLORS */
    --primary-yellow: hsl(47, 88%, 63%);
    --primary-white: hsl(0, 0%, 100%);
    --primary-gray-reg: hsl(0, 0%, 42%);
    --primary-gray-bold: hsl(0, 0%, 7%);

    --main-font-size: 16px;
    
    --main-font-family: 'Figtree', sans-serif;
    --main-font-weight-reg: 500;
    --main-font-weight-bold: 800;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
}

.container {
    width: 350px;
    height: 500px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--primary-white);
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.heading-img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}






