:root {
    /* COLORS */
    --primary-yellow: hsl(47, 88%, 63%);
    --primary-white: hsl(0, 0%, 100%);
    --primary-gray-reg: hsl(0, 0%, 42%);
    --primary-gray-bold: hsl(0, 0%, 7%);

    --main-font-size: 16px;
    
    --main-font-family: 'Figtree', sans-serif
    --main-font-weight-reg: 500;
    --main-font-weight-bold: 800;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
}

.container {
    width: 350px;
    height: 500px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--primary-white);
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    height: 495px;
    width: 345px;
}

.heading-img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

#learning-tag {
    background-color: var(--primary-yellow);
    padding: 6px 1px;
    border-radius: 4px;
    font-size: .8rem;
    font-weight: var(--main-font-weight-bold);
    width: 80px;
    text-align: center;
    letter-spacing: -.5px;

}

.card-content-text {
    margin-top: -15px;
    font-size: .8rem;
}

.card-content-text h2 {
    font-size: 1.5rem;
    font-family: ");
    font-weight: var(--main-font-weight-bold);
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.card-content-text h2:hover {
    color: var(--primary-yellow)

}

.card-content-text h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight-reg);
    color: var(--primary-gray-reg);
    margin-bottom: 10px;
}

.user-footer {
    display: flex;
    align-items: center;

}

.user-footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


